incomudon-server.exe
.env
/directory/channels.csv
/directory/speakers.csv
/directory/directory.psk
/directory-v3/channels.csv
/directory-v3/speakers.csv
/directory-v3/directory-keys.csv
/control/control-keys.csv
/control/cookie.secret
/private-control/*
!/private-control/services.csv.example
!/private-control/uds-services.csv.example
/management-pcl/*
!/management-pcl/README.md
